

<div   fxLayoutAlign="center center" fxFlexFill class="tool">

<mat-card fxFlex="25" >
  <mat-toolbar  style="background: -webkit-linear-gradient(59deg, #3A6073, #16222A); font-family: 'Arial Black'; color: white" >Login Form</mat-toolbar >
  <form  class="login-form"  style=" font-size: medium"  fxFlexAlign="stretch" fxLayout="column">


    <mat-form-field>
      <input *ngIf="!(isChange||tryAgain)" type = "text" [(ngModel)]="employee.username"
              [ngModelOptions]="{standalone: true}" name = "name"  matInput placeholder = "username" required>
    </mat-form-field>

    <mat-form-field >
      <input *ngIf="!(isChange||tryAgain)" type = "password" [(ngModel)]="employee.password"
             [ngModelOptions]="{standalone: true}" name = "password"  matInput placeholder = "password" required>
    </mat-form-field>
    <a routerLink="/forgotPassword" style="color: #007bb7; font-size: medium;font-family: Arial" (click)="recoverPassword()" >Forgot Password?</a>

    <button mat-raised-button type = "submit" class="btn btn-success" (click)="onClickSubmit()">Login

    </button>
    <button mat-raised-button style="background:#44BCDD;color: white"  >Register
    </button>
    <p style="font-family: Arial;color: red;font-size: small" *ngIf="isChange==true">Username  or Password can not be empty!</p>
    <p style="font-family: Arial;color: red;font-size: small" *ngIf="tryAgain==true">Wrong useraname or password!</p>
    <span><button (click)="reTry()" *ngIf="tryAgain" class="mat-button" style="background: #007bb7;color: white">Try Again</button></span>
    <span><button (click)="message()" *ngIf="isChange" class="mat-fab" style="background: #007bb7">OK!</button></span>
  </form>
</mat-card>
</div>






