

<div class="row" >
  <img src="/assets/images/h.jpg" class="banner">
  <div class="card-header">
    <h5 class="mat-tab-header" style="color: #44BCDD; font-size: large;font-family: 'Arial Black'">World Of Books</h5>
    <mat-form-field >
      <input type = "Search"
             name = "Search"  matInput placeholder = "Search Book" >
    </mat-form-field>
    <a  routerLink="/" class="fa fa-search" style="size: auto" ></a>
  </div>

</div>



<div class="row-cols-auto">
  <table class="table table-sm" >
    <tbody>
    <tr *ngFor = "let books of books| paginate: params">
      <td>
        <div>
          <a href="/friends"
             role="button"
             class="btn btn-outline-primary btn-sm btn-outline-info text-center">
            <span><i class="fa fa-book"></i></span>
            <br>View
          </a>

          <div class="table-sm" style="width: 18rem;">
            <img src="/assets/images/{{books.name}}.png" class="img">
            <div class="mat-card-content">
              <p style="font-family: Arial;color: #3B5998">Name: {{books.name}}</p>

               <p style="font-family: Arial;color: #3B5998">Author: {{books.author}}</p>

              <a href="#" class="fa fa-shopping-cart"> Add To cart</a>
            </div>
          </div>

        </div>


      </td>

    </tr>
    </tbody>
  </table>
  <pagination-controls
    (pageChange)="onChangePage($event)"
  ></pagination-controls>
</div>

